# Django
SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
TIME_ZONE=Europe/Sofia

# Database
USE_POSTGRES=True
DB_NAME=waypoint_db
DB_USER=waypoint_user
DB_PASSWORD=waypoint_password_2024
DB_HOST=db
DB_PORT=5432
